***configure openvpn on centre:
*connect to centre:

***create user:
adduser medi1password: medi123

***Give sudo access to medi1:
visudo
medi1	ALL(ALL:ALL) ALL
save file & switch to medi1 user:
su - medi1

in application
cd /root/openvpn-keys
cat used_key

chmod 777 keyx.conf
chown ubuntu:ubuntu key25x.conf
ls -l


***transfer respective keyX.conf to /home/ubuntu --> by winscp to to your local system -->local system to centre windows system --> to centre ubuntu system(connect winscp using medi1 user only)
copy to /home/medi1 user

***install openvpn
apt install net-tools
apt install openssh-server
sudo apt install openvpn -y
cp -r /home/medi1/keyX.conf /etc/openvpn
cd /etc/openvpn
chmod +x keyX.conf
apt install screen
screen -S vpn
sudo openvpn --config keyX.conf

***connect to server:

***transfer builds from ahll app to centre:
 on ahll app:
 cd /root/builds
 scp -r  11.10.1-7930 medi1@10.8.0.6:/home/medi1
 scp -r  11.10.8-8458 medi1@10.8.0.6:/home/medi1
 scp -r  11.13.12-8816 medi1@10.8.0.6:/home/medi1
 scp -r  12.2.9-9694 medi1@10.8.0.6:/home/medi1
 scp -r  12.3.33-11784 medi1@10.8.0.6:/home/medi1

tarnsfer tomcat and java files
cd /root/tomcat-backup
 scp -r  tomcat7.tar.gz medi1@10.8.0.6:/home/medi1
 scp -r   jdk-6u45-linux-x64.bin medi1@10.8.0.6:/home/medi1


cd /home/vinay
 scp -r   jdk-7u80-linux-x64.tar.gz medi1@10.8.0.6:/home/medi1

cd /root
 scp -r   install_jdk_7.sh   medi1@10.8.0.146:/home/medi1  
  
create directories at centre:

mkdir -p /root/webapps
mkdir /root/builds
mkdir /root/tomcat-backup
mkdir /usr/lib/jvm
mkdir /etc/hms

copy transfered files to respective folders:

cd /home/medi1
cp -r tomcat7.tar.gz /root/tomcat-backup


move jdk file to jvm folder:

cp jdk------  /usr/lib/jvm/
cp -r jdk-7u80-linux-x64.tar.gz /usr/lib/jvm/
cp -r jdk-6u45-linux-x64.bin /usr/lib/jvm/

install java:
cd /usr/lib/jvm/
./jdk-6u45-linux-x64.bin

tar -xvf jdk-7u80-linux-x64.tar.gz 

copy java script from /home/medi1 to /root

cd /home/medi1
cp -r install_jdk_7.sh /root

cd /root
./install_jdk_7.sh

check java -version()


install tomcat:
cd /root/tomcat-backup
tar -xvf tomcat7.tar.gz
cp -r /root/tomcat-backup/tomcat /usr/local
cp -r /usr/local/tomcat /etc/init.d/
cp -a /usr/local/tomcat /etc/rc2.d

cd /etc/hms
sudo apt install vim
vim options
	DEFAULT_HOSPITAL=ahll
	UPGRADE_BACKUP=N
	UPGRADE_RESTART=N
	BACKUP_ENABLED=N
	CLOUDBKP_ENABLED=N

else take content to ssh medi1@10.8.0.166
medi1 password: medi123


cd /root

***Install Postgresql 10:
apt-get install -y postgresql-10
vim /etc/postgresql/10/main/postgresql.conf 
	uncomment and edit following line:
			listen_addresses = '*'
			log_statement = 'mod'
			log_min_duration_statement = 5000
vim /etc/postgresql/10/main/pg_hba.conf
change all methods to trust and save file.
add following hosts
hosts	all		all			10.8.0.1/32	trust
hosts	all		all			windows-centre-ip 	trust

service postgresql@10-main restart
apt-get install -y postgresql-plperl-10
su - postgres
psql
> create database hms;
	\c hms
	create language plpgsql;
	create language plperl;

\q
exit

***copy builds from/home/medi1 to /root/builds: all builds
cp -r 11.10.1-7930 /root/builds
   11.10.8-8458
   11.13.12-8816 
   12.2.9-9694
   12.3.33-11784 

***Install tomcat
cd /usr/local/
cp -r /home/medi1/tomcat7.tar.gz .
tar -xvf tomcat7.tar.gz


cd /usr/lib/jvm
ln -s jdk1.6.0_45 java-6-sun(it should be in blue colour if not install java 6 using ./jdk-6u45-linux-x64.bin)

cd
bash /root/builds/11.10.1-7930/WEB-INF/install/bin/install hms
/root/webapps/instahms/WEB-INF/install/bin/create_schema.sh ahll

now check hms db
su - postgres
psql -d hms
> select * from ahll.hl7_order_items ;
\q
su - postgres
/usr/lib/postgresql/10/bin/pg_dump -p 5432 -d hms -s -t ahll.hl7_order_items > table.sql	
exit


cd
copy all builds from /home/medi1 to /root/builds
screen -S build1
cd /root/webapps/instahms/WEB-INF/install/bin
ls -l /root/builds
./upgrade 11.10.8-8458
Check logs at /var/log/insta/hms/upgrade.log

screen -S build2
./upgrade 11.13.12-8816
after running 2nd build install python
apt-get install python-minimal python-pip wget python-psycopg2 python3-psycopg2 python2.7 -y

now run 3rd build
screen -S build3
cd /root/webapps/instahms/WEB-INF/install/bin
./upgrade  12.2.9-9694

now run 4th build
screen -S build4
cd /root/webapps/instahms/WEB-INF/install/bin
./upgrade 12.3.33-11784


set search_path to ahll;
	CREATE USER medi WITH PASSWORD 'medi@123';
	GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA ahll TO medi;
	GRANT ALL ON DATABASE hms TO medi;
	GRANT ALL ON integ_diag_in_seq TO medi;
	GRANT USAGE ON SCHEMA ahll to medi;

